# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Node/React Native
node_modules/
.expo/
.expo-shared/
*.log

# .NET
bin/
obj/
.vs/

# OS
.DS_Store

# Data/artifacts
*.db
backend/ncs_verifier_service/data/

# Env
.env
mobile/ncs_verifier_app/android/.env

# Android signing
*.keystore

# Mobile native build outputs
mobile/ncs_verifier_app/android/.gradle/
mobile/ncs_verifier_app/android/**/build/
mobile/ncs_verifier_app/ios/Pods/
mobile/ncs_verifier_app/ios/build/
mobile/ncs_verifier_app/ios/DerivedData/
